@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@utility text-stroke-* {
  -webkit-text-stroke-width: calc(--value(integer) * 1px);
  -webkit-text-stroke-color: --value(--color-*);
  -webkit-text-stroke-color: --value([*]);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, sans-serif;
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-texture {
  background-image: url("/Untitled.png");
  background-repeat: repeat;
  background-size: 400px;
  background-color: #1e1e1e;
}
.main-shadow {
  box-shadow:
    0px 0px 10px 2px rgb(0, 0, 0, 0.6),
    10px 0px 100px rgba(0, 0, 0, 0.3),
    -10px 0px 100px rgba(0, 0, 0, 0.3);
}

.bg-chrome1 {
  background-image: linear-gradient(
    180deg,
    #b2b2b2 0%,
    #e4e4e4 5.77%,
    #e4e4e4 33.17%,
    #4b4b4b 85.1%,
    #b3b3b3 100%
  );
}

.bg-chrome2 {
  background-image: linear-gradient(
    180deg,
    #3a3a3a -29.23%,
    #a4a4a4 -5.96%,
    #606060 11.48%,
    #cecece 34.34%,
    #8f8f8f 50.25%,
    #464646 72.22%,
    #696969 94.18%
  );
}

.border-chrome {
  border-image: linear-gradient(
      180deg,
      #404040 0%,
      #888888 13%,
      #2d2c2c 22%,
      #171717 100%
    )
    1;
}

.inset-chrome {
  box-shadow: inset 0px 4px 6px rgba(255, 255, 255, 0.6);
}

body {
  color: var(--foreground);
  font-family: Arial;
}

.bg-button-small {
  background-image: linear-gradient(180deg, #666666 0%, #2a2a2a 100%);
  box-shadow: inset 0px 3.77761px 5.03681px rgba(0, 0, 0, 0.65);
}

.shadow-navbar {
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.35);
}

.shadow-footer {
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.25);
}

.shadow-navbar-inset-chrome {
  box-shadow:
    inset 0px -4px 6px rgba(255, 255, 255, 0.6),
    0px 14px 24px rgba(0, 0, 0, 0.35);
}

.text-crt {
  font-family: "VT323", monospace;
}

.crt *::selection {
  background: #fff;
  color: #000000;
}

@keyframes crtBlink {
  0%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.85;
  }
  75% {
    opacity: 0.6;
  }
}
@keyframes crtScreenBlink {
  0% {
    filter: brightness(1);
  }
  20% {
    filter: brightness(0.2);
  }
  40% {
    filter: brightness(0.6);
  }
  60% {
    filter: brightness(0.1);
  }
  80% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}
.crt-blink-hover:hover {
  animation: crtBlink 0.05s steps(2);
}
.crt-screen-blink {
  animation: crtScreenBlink 0.13s steps(3) forwards;
}

.inset-bevel {
  position: relative;
  box-shadow:
    0px 4px 5px rgba(0, 0, 0, 0.2),
    0px 0px 4px rgba(0, 0, 0, 0.61);
}

.inset-bevel::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow:
    inset 0px 0px 40px 4px rgba(255, 255, 255, 0.4),
    inset 0px 20px 10px rgba(255, 255, 255, 0.3),
    inset 0px -20px 10px rgba(255, 255, 255, 0.3);
  border: 3px solid #000000;
}

.bg-image {
  background-image: url("/images/o-nas/IMG_20251221_232348_556 1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-metal {
  background-image: url(/metal_texture.jpg);
  background-repeat: repeat;
  background-size: 1000px;
  background-color: #888888;

  --corner-size: 48px;

  clip-path: polygon(
    var(--corner-size) 0,
    calc(100% - var(--corner-size)) 0,
    100% var(--corner-size),
    100% calc(100% - var(--corner-size)),
    calc(100% - var(--corner-size)) 100%,
    var(--corner-size) 100%,
    0 calc(100% - var(--corner-size)),
    0 var(--corner-size)
  );

  box-shadow:
    inset 0px 11px 20px rgba(0, 0, 0, 0.4),
    inset 0px -11px 20px rgba(0, 0, 0, 0.4);
}

/* .knob {
  position: relative;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #3a3a3a 0deg,
    #a4a4a4 64.8deg,
    #606060 113.4deg,
    #cecece 177.09deg,
    #8f8f8f 221.4deg,
    #464646 282.6deg,
    #696969 343.8deg,
    #3a3a3a 360deg
  );
  box-shadow: 4px 10px 6.6px #000000;
  border-radius: 100%;
}

.knob::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  background: linear-gradient(to bottom, #bebebe, #403f3f);
  border-radius: inherit;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
} */

.mobile-button-link {
  background: linear-gradient(
    180deg,
    #000000 2%,
    #838383 10%,
    #3c3c3c 30%,
    #000000 45%,
    #333333 85%,
    #000000 100%
  );

  box-shadow:
    0px 0px 0px 2px rgba(0, 0, 0, 1),
    0px 1px 5px 1px rgba(0, 0, 0, 0.8),
    inset -22px 24px 73px rgba(255, 255, 255, 0.1),
    inset 0px 3px 4px 0px rgba(255, 255, 255, 0.4),
    inset 0px -3px 13px 6px #000000;
}
.mid-one {
  box-shadow:
    0px -10px 0px 2px rgba(0, 0, 0, 1),
    0px 10px 0px 2px rgba(0, 0, 0, 1),
    0px 1px 5px 1px rgba(0, 0, 0, 0.8),
    inset -22px 24px 73px rgba(255, 255, 255, 0.1),
    inset 0px 3px 4px 0px rgba(255, 255, 255, 0.4),
    inset 0px -3px 13px 6px #000000;
}

.arrow-nav-button {
  box-shadow:
    inset 0 4px 6px rgba(255, 255, 255, 0.612),
    inset 0 -4px 6px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(0, 0, 0, 0.9),
    0px 0px 1px 2px rgba(72, 0, 0, 0.5);
}

.navbar-bg-stripe {
  box-shadow:
    10px 0px 24px rgba(0, 0, 0, 0.8),
    -10px 0px 24px rgba(0, 0, 0, 0.8),
    2px 0px 0px rgb(0, 0, 0),
    -2px 0px 0px rgb(0, 0, 0);
  transform: perspective(1200px) rotateX(50deg) translateY(-800px);
  perspective-origin: 100%;
}
.navbar-bg-stripe div {
  border: 2px solid #252525;
  box-shadow:
    inset -4px 0px 24px rgba(0, 0, 0, 0.25),
    inset 4px 0px 24px rgba(0, 0, 0, 0.25);
}

.mobile-nav-logo {
  background: linear-gradient(
    25deg,
    #b0b0b0 12.96%,
    #c9c9c9 25.39%,
    #929191 47.47%,
    #e2dddd 66.8%,
    #b3b3b3 81.98%
  );
  box-shadow:
    0px 0px 20px rgba(0, 0, 0, 0.3),
    0px 5px 20px rgba(0, 0, 0, 0.65),
    inset 0px 0px 5px 2px #ffffff,
    inset 0px 0px 28px 2px #ffffff,
    0px 0px 0px 3px #000000;
  /* corner-shape: squircle; */
}
@media screen and (max-width: 500px) {
  .mobile-nav-logo {
    padding-inline: 22% !important;
  }
}

.mobile-bar {
  box-shadow:
    inset 0px 4px 6px rgba(255, 255, 255, 0.6),
    0px 0px 10px rgba(0, 0, 0, 1);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

.blinking {
  animation: blink 1.4s infinite steps(1);
}
.blinking:hover {
  animation: none;
  transform: translateX(-5px);
}

.about-img::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow:
    inset 0 0 20px 5px rgba(0, 0, 0, 0),
    inset 0 0 2px 2px rgba(255, 0, 0, 0);
  pointer-events: none;
  /* transition: box-shadow 0.3s ease 0.05s; */
  transition: box-shadow 0.1s 0s ease;
}

.about-img:hover::after {
  box-shadow:
    inset 0 0 20px 5px rgba(0, 0, 0, 0.5),
    inset 0 0 6px 7px rgba(0, 0, 0, 0.6);
  /* transition: box-shadow 0s 0s ease; */
  transition: box-shadow 0.1s ease-in 0.05s;
}
