@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@utility text-stroke-* {
  -webkit-text-stroke-width: calc(--value(integer) * 1px);
  -webkit-text-stroke-color: --value(--color-*);
  -webkit-text-stroke-color: --value([*]);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, sans-serif;
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.bg-chrome1 {
  background-image: linear-gradient(
    180deg,
    #b2b2b2 0%,
    #e4e4e4 5.77%,
    #e4e4e4 33.17%,
    #4b4b4b 85.1%,
    #b3b3b3 100%
  );
}

.bg-chrome2 {
  background-image: linear-gradient(
    180deg,
    #3a3a3a -29.23%,
    #a4a4a4 -5.96%,
    #606060 11.48%,
    #cecece 34.34%,
    #8f8f8f 50.25%,
    #464646 72.22%,
    #696969 94.18%
  );
}

.border-chrome {
  border-image: linear-gradient(
      180deg,
      #404040 0%,
      #888888 13%,
      #2d2c2c 22%,
      #171717 100%
    )
    1;
}

.inset-chrome {
  box-shadow: inset 0px 4px 6px rgba(255, 255, 255, 0.6);
}

body {
  color: var(--foreground);
  font-family: Arial;
}

.text-shadow-main {
  text-shadow: 4px 5px 0px #000;
}
.text-shadow-small {
  text-shadow: 2px 2px 0px #000;
}

.bg-button-small {
  background-image: linear-gradient(180deg, #666666 0%, #2a2a2a 100%);
  box-shadow: inset 0px 3.77761px 5.03681px rgba(0, 0, 0, 0.65);
}

.shadow-navbar {
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.35);
}

.shadow-footer {
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.25);
}

.shadow-navbar-inset-chrome {
  box-shadow:
    inset 0px -4px 6px rgba(255, 255, 255, 0.6),
    0px 14px 24px rgba(0, 0, 0, 0.35);
}

.text-crt {
  font-family: "VT323", monospace;
}

.crt *::selection {
  background: #fff;
  color: #000000;
}

@keyframes crtBlink {
  0%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.85;
  }
  75% {
    opacity: 0.6;
  }
}
@keyframes crtScreenBlink {
  0% {
    filter: brightness(1);
  }
  20% {
    filter: brightness(0.2);
  }
  40% {
    filter: brightness(0.6);
  }
  60% {
    filter: brightness(0.1);
  }
  80% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}
.crt-blink-hover:hover {
  animation: crtBlink 0.05s steps(2);
}
.crt-screen-blink {
  animation: crtScreenBlink 0.13s steps(3) forwards;
}

.inset-bevel {
  position: relative;
  box-shadow:
    0px 4px 5px rgba(0, 0, 0, 0.2),
    0px 0px 4px rgba(0, 0, 0, 0.61);
}

.inset-bevel::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow:
    inset 0px 0px 40px 2px rgba(255, 255, 255, 0.2),
    inset 0px 20px 12px rgba(255, 255, 255, 0.2),
    inset 0px -20px 12px rgba(255, 255, 255, 0.2);
  border: 3px solid #000000;
}
