@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@utility text-stroke-* {
  -webkit-text-stroke-width: calc(--value(integer) * 1px);
  -webkit-text-stroke-color: --value(--color- *);
  -webkit-text-stroke-color: --value([ *]);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.bg-chrome1 {
  background-image: linear-gradient(
    180deg,
    #b2b2b2 0%,
    #e4e4e4 5.77%,
    #e4e4e4 33.17%,
    #4b4b4b 85.1%,
    #b3b3b3 100%
  );
}

.bg-chrome2 {
  background-image: linear-gradient(
    180deg,
    #3a3a3a -29.23%,
    #a4a4a4 -5.96%,
    #606060 11.48%,
    #cecece 34.34%,
    #8f8f8f 50.25%,
    #464646 72.22%,
    #696969 94.18%
  );
}

.inset-chrome {
  box-shadow: inset 0px 4px 6px rgba(255, 255, 255, 0.6);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-shadow-main {
  text-shadow: 4px 5px 0px #000;
}
